@font-face {
  font-family: OpenSans;
  src: local(OpenSans-Regular), url(/path/to/OpenSans-Regular.woff2) format("woff2"), url(/path/to/OpenSans-Regular.woff) format("woff"), url(/path/to/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

.navbar-dark {
  width: 1440px;
  display: block;
  height: true;
  margin: 0 0 2px;
  padding: 16px 9px 15px 29px;
  border: solid 1px var(--brown-grey);
  background-color: var(--cherry-red); }