@import "_euregio_vars";

/* @font-face {
    font-family: "Open Sans";
    src: local("Open Sans"-Regular),
    url(/path/to/"Open Sans"-Regular.woff2) format("woff2"),
    url(/path/to/"Open Sans"-Regular.woff) format("woff"),
    url(/path/to/"Open Sans"-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
} */
$white: #ffffff;
$cherry-red: #e30613;
$brown-grey: #979797;
$black: #000000;
$berry: #8e1347;
$very-light-pink: #bbbbbb;

@mixin Museumsseite-Titel {
    font-family: "Open Sans";
    font-size: 48px !important;
    line-height: 1.29;
    text-align: center;
    color: $black;
}

@mixin Projektseite-Titel {
    font-family: "Open Sans";
    font-size: 48px !important;
    text-align: center;
    color: $black;
}

@mixin Projekttitel-gro {
    font-family: "Open Sans";
    font-size: 32px !important;
    line-height: 1.19;
    color: $black;
}

@mixin Hauptmen {
    font-family: "Open Sans";
    font-size: 28px !important;
    letter-spacing: 0.47px !important;
    color: $white;
}

@mixin Text-Filterleiste-Hauptmen {
    font-family: "Open Sans";
    font-size: 24px !important;
    color: $black;
}

@mixin Infos-gro {
    font-family: "Open Sans";
    font-size: 22px !important;
    color: $black;
}

@mixin Projekt-Teaser-Text {
    font-family: "Open Sans";
    font-size: 22;
    color: #fefefe;
}

@mixin Projekttitel-klein {
    font-family: "Open Sans";
    font-size: 20px !important;
    line-height: 1.25;
    color: $black;
}

@mixin Infos {
    font-family: "Open Sans";
    font-size: 15px !important;
    line-height: 1.2;
    color: $black;
}

@mixin Tag-Thema {
    font-family: "Open Sans";
    font-size: 15px !important;
    line-height: 1.2;
    text-align: center;
    color: $white;
}

@mixin Tag-Format {
    font-family: "Open Sans";
    font-size: 15px !important;
    line-height: 1.2;
    text-align: center;
    color: $cherry-red;
}

@mixin Infos-Titel {
    font-family: "Open Sans";
    font-size: 14px !important;
    color: $black;
}

@mixin Teaser-Text-mobile {
    font-family: "Open Sans";
    font-size: 12px !important;
    color: #fefefe;
}

.header-dark {
    width: 100%;
    height: 288px;
    margin: 0 0 2px;
    padding: 16px 9px 15px 29px;
    background-color: $cherry-red !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main-logo-lg {
    position: relative;
    margin-top: 90px;
}

.lang-sel {
    text-align: right;
}

.lang-sel-cont {
    float: right;
}

.feature-home {
    margin-top: 256px;
}

.feature-home-lg img {
    width: 100%;
}

.format-tag {
    min-height: 30px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: $berry;
    border: solid 1.2px $berry;
    display: inline-block;
    padding: 7px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.format-tag a {
    min-height: 30px;
    font-family: "Open Sans";
    font-size: 15px;
    color: #8e1347 !important;
}

.topic-tag {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    border: solid 1.3px $berry;
    background-color: $berry;
    display: inline-block;
    padding: 7px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;

}

.topic-tag a {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: normal;
    color: white !important;
}

.feature-title a {
    @include Projekttitel-gro;

    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-title {
    @include Projekttitel-gro;

    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-subtitle {
    @include Projekt-Teaser-Text;

    @include Infos-gro;

    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.feature-subtitle p {
}

.feature-main {
    padding-left: 55px;
}

.feature-date {
    @include Infos-gro;
}

.feature-location {
    @include Infos-gro;
}

.feature-img-col {
    background-image: url('assets/img/projekt_vorschau.png');
    min-height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item {
    // border: solid 2px #000;
    border-bottom: 1px #000 solid;
}

.feature-tags {
    margin-top: 34px;
}

.filter {
    width: 100%;
    height: 75px;
    margin: 0 0 22 px;
    // padding: 0 833px 0 0;
    background-color: #7b9098 !important;
}

.list-title {
    width: 276px;
    height: 120px;
    margin: 37px 0 1px;

    @include Projekttitel-klein;
}

.list-date {
    width: 276px;
    height: 40px;
    margin: 1px 0 0;

    @include Infos;
}

.list-location {
    width: 276px;
    height: 40px;
    margin: 1px 0 0;

    @include Infos;
}

.list-img {
    width: 50%;
    height: auto;
    float: left;
}

.l-img {
    width: 100%;
    height: auto;
}

.list-data {
    width: 47%;
    float: left;
    margin-top: 1.5rem !important;
    margin-left: 1.1em;
}

/* .feature-home div.main-grid div.col-md-6:nth-child(1n+1) , .feature-home div.main-grid div.col-md-6:nth-child(1n+2) {
  background: red;
}
.feature-home div.main-grid div.col-md-6:nth-child(4n+3), .feature-home div.main-grid div.col-md-6:nth-child(4n+4) {
  background: blue;
} */
.feature-home div.main-grid div.col-md-6:nth-child(1n+1) ,
.feature-home div.main-grid div.col-md-6:nth-child(1n+2) {
}

.feature-home div.main-grid div.col-md-6:nth-child(4n+3) div.list-data,
.feature-home div.main-grid div.col-md-6:nth-child(4n+4) div.list-data {
    float: left;
}

.feature-home div.main-grid div.col-md-6:nth-child(4n+3) div.list-img,
.feature-home div.main-grid div.col-md-6:nth-child(4n+4) div.list-img {
    float: right;
}

@media only screen and (max-width:567px) {
   .feature-home div.main-grid div.col-md-6:nth-child(4n+3) div.list-data,
    .feature-home div.main-grid div.col-md-6:nth-child(4n+4) div.list-data {
        float: left;
    }

    .feature-home div.main-grid div.col-md-6:nth-child(4n+3) div.list-img,
    .feature-home div.main-grid div.col-md-6:nth-child(4n+4) div.list-img {
        float: left;
    }

    .feature-home div.main-grid div.col-md-6 div.list-data,
     .feature-home div.main-grid div.col-md-6 div.list-data,
     .feature-home div.main-grid div.col-md-6:nth-child(4n+3) div.list-img,
     .feature-home div.main-grid div.col-md-6:nth-child(4n+4) div.list-img  {
         float: left;
     }

     .feature-home div.main-grid div.col-md-6:nth-child(2n) div.list-img,
     .feature-home div.main-grid div.col-md-6:nth-child(2n) div.list-img {
         float: right;
     }




     .menu-cont{display: none;}

     .main-logo-lg {
         position: relative;
         margin-top: -50px;
         width: 56%;
     }
     .header-dark {
     height: 128px;
     }
     .feature-home {
         margin-top: 0px;
     }
}




div.related-projects div.col-md-6 div.list-data,
div.related-projects div.col-md-6 div.list-data {
    float: left;
}
div.related-projects div.col-md-6 div.list-img,
div.related-projects div.col-md-6 div.list-img {
    float: right;
}

     div.related-projects div.col-md-6:nth-child(4n+3) div.list-data,
     div.related-projects div.col-md-6:nth-child(4n+4) div.list-data {
         float: right;
     }

     div.related-projects div.col-md-6:nth-child(4n+3) div.list-img,
     div.related-projects div.col-md-6:nth-child(4n+4) div.list-img {
         float: left;
     }

     @media only screen and (max-width:567px) {
        div.related-projects div.col-md-6:nth-child(4n+3) div.list-data,
         div.related-projects div.col-md-6:nth-child(4n+4) div.list-data {
             float: left;
         }

    div.related-projects div.col-md-6:nth-child(4n+3) div.list-img,
         div.related-projectsdiv.col-md-6:nth-child(4n+4) div.list-img {
             float: left;
         }

      div.related-projects div.col-md-6 div.list-data,
      div.related-projectsdiv.col-md-6 div.list-data,
        div.related-projects div.col-md-6:nth-child(4n+3) div.list-img,
          div.related-projects div.col-md-6:nth-child(4n+4) div.list-img  {
              float: left;
          }

      div.related-projects div.col-md-6:nth-child(2n) div.list-img,
          div.related-projects div.col-md-6:nth-child(2n) div.list-img {
              float: right;
          }












}

.feature-subtitle {
}

.list-img-cont {
    background-image: url('assets/img/32_I-Know-I-Will-See_Albdorf-512x683.png');
    height: 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}

.single-item {
}

.title-grid-wine {
    width: 277px;
    height: 29px;
    margin: 0 103px 43px 13px;
    font-size: 24.1px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white;
}

.title-grid-wine-cont {
    background-image: url('assets/img/bg-event1.png');
    height: 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: contain;
    background-color: #9B0147;
}

.list-img-cont-wine img {
    float: right;
    margin-right: 5%;
}

/* MENU */
ul#menu-euregio-main-menu {
    margin-bottom: 0;
}

ul#menu-euregio-main-menu li {
    list-style-type: none;
    display: inline-block;
}

ul#menu-euregio-main-menu  li.active {
    background-image: url(assets/img/menu-act.png);

    /* height: 200px; */
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: initial;
    background-size: inherit;
    background-position-y: 51px;
    vertical-align: bottom;
    padding-top: 149px;
    background-position-x: 22px;
}

ul#menu-euregio-main-menu li a {
    @include Hauptmen;

    color: white;
}

.search-form input.search-submit,
.search-form .screen-reader-text {
    display: none;
}

input.search-field {
    background-color: #E40713;
    border: solid 1px white;
    color: white;
    font-family: "Open Sans";
}

input.search-field::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8;

    /* Firefox */
    font-family: "Open Sans";
}

input.search-field:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-family: "Open Sans";
}

input.search-field::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-family: "Open Sans";
}

.search-icon {
    float: left;
    margin-right: 10px;
}

/* projekte */
.proj-item {
    border-bottom: solid 1px #000;
}

/* museen liste */
.museum-title.museum,
.museum-title.museum a {
    @include Projekttitel-klein;

    margin-top: 25px;
}

.feature-location.museum,
.feature-location.museum a {
    @include Infos;
}

.feature-location.museum {
    position: absolute;
    bottom: 9px;
}

.mus-main {
    height: 100%;
}

.feature-img-col.museen {
    max-height: 192px;
    min-height: 192px;
    background-repeat: no-repeat;
    background-size: cover;
}

.museum-item {
    border-bottom: solid 1px #ccc;
}

.feature-main {
    padding-left: 55px;
}

/* single projekt */
.grey-divider {
    height: 75px;
    width: 100%;
    background-color: #bbbbbb;

    @include Infos-gro


}

li.sf-field-taxonomy-format {
    float: left;
    margin-right: 30px !important;
}

.searchandfilter select.sf-input-select {
    min-width: 179px !important;
    height: 37px !important;
    background-color: #7b9098 !important;
    padding-left: 21px !important;
    padding-right: 11px !important;
    margin-top: 11px !important;
}



.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}





.single-title{
  @include Projektseite-Titel
  margin-top: 85px;
margin-bottom: 100px;
}
.single-terms{
position: absolute;
bottom: 20px;
margin-top: 35px;

}

.single-divider {

  border-bottom: solid 1px black;
  margin-bottom: 30px
}
.single-title2{
  @include Projekttitel-gro;

    margin-bottom: 70px;
}

.grid-item.item-related{

  border: solid #cccc 0px;
}
.single-subtitles{

  font-family: "Open Sans";
 font-size: 13px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.38;
 letter-spacing: normal;
 color: $black;

}
p.single-data{
@include Infos;
    margin-bottom: 30px;
}

p.grey-divider-text{
  margin-top: 1.2rem;
    margin-bottom: 1rem;
}

.single-address {
    padding-top: 30px;
}

h3.lang-sel a{

  font-size: 24px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #fefefe;

}

h3.lang-sel li.wpml-ls-current-language a{
  font-weight: bold;

}

.flex-direction-nav li a{
      height:50px !important;
}


.flexslider .flex-direction-nav .flex-next {
    right: 5px; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
}

.flexslider .flex-direction-nav .flex-prev {
    left: 5px; /* adjust offset to match the hover style */
    opacity: .8; /* adjust opacity to match the hover style */
}


.footer{
  background-color: black;
}

.footer a{
  color: white;
  font-size: 21px;
}

img.footer-logo-lg {
    // padding-top: 23px;
    // padding-bottom: 30px;
}
